* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
body {
    background: var(--grey);
}

/* SIDEBAR */
#sidebar {
    width: 250px;
    height: 100vh;
    background: var(--light);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;       /* Display on all elements */

    transition: 0.3 ease;
    overflow-x: hidden;
}
/* THU NHO SIDEBAR */
#sidebar.hide {
    width: 70px;
}

/* #sidebar .brand {
    font-size: 25px;
    font-weight: 700;
    height: 55px;
    display: flex;
    align-items: center;
} */

#sidebar .brand img{
    width: 250px;
    height: 55px;
    display: flex;
    align-items: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}
#sidebar .side-menu li {
    height: 48px;
    background-color: transparent;
    padding: 4px;
    margin-left: 8px;
    border-radius: 48px 0 0 48px;
}
#sidebar .side-menu li.item--active {
    background: var(--grey);
    position: relative;
}
#sidebar .side-menu li.item--active a{
    color: var(--blue);
    background: var(--light-blue);
}

/* Set phần bo góc trên cho item-active */
#sidebar .side-menu li.item--active::before {
    content: "";    /*Required*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    /* background: var(--blue); */
    z-index: -1;
}
/* Set phần bo góc dưới cho item-active */
#sidebar .side-menu li.item--active::after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    /* background: var(--blue); */
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    /* padding-left: 8px; */
    border-radius: 48px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    font-size: 18px;
    color: var(--dark);

    white-space: nowrap;
    overflow-x: hidden;
}
#sidebar .side-menu li a:hover {
    color: var(--blue);
    /* cursor: pointer; */
}
#sidebar .side-menu li a .side-menu__icon {
    /* Calc: for padding (4px) and margin-left  */
    min-width: calc(60px - ((4px + 6px + 8px) * 2));   
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}
/* END SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 250px);
    left: 250px;

    transition: 0.3s ease;
}
#sidebar.hide ~ #content {
    width: calc(100% - 70px);
    left: 70px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    font-size: 25px;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-gap: 24px;
}
#content nav #hidden-sidebar-btn:hover {
    cursor: pointer;
    /* background: var(--blue); */
}
#content nav #site-name {
    /* position: absolute; */
    /* width: 60%; */
    min-width: fit-content;
    height: 80%;
    /* margin-left: 24px; */
    color: var(--grey);
    border-radius: 10px;
    background: var(--blue);

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;    
}
#content nav #logout {  
    width: 10%;
    min-width: fit-content;
    height: 80%;
    /* padding: 0 24px; */
    border-radius: 10px;
    background: var(--red);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   
#content nav #logout:hover {
    cursor: pointer;
}
#content nav #logout img {
    height: 24px;
}
/* END NAVBAR */

/* MAIN */
#content main .products-orders{
    width: 100%;
    height: 30vh;
    /* display: flex; */
    /* justify-content: space-between; */
}
#content main .products-orders .products {
    width: 50%;
}
/* Chia div products và order ra làm 2 nửa 50% */
#content main .products-orders .products .box-product {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    /* grid-template-areas: 
        "apple  samsung  bphone"
        "apple  general  bphone"
        "apple  xiaomi   bphone"
    ; */
}
#content main .products-orders .products .box-product .apple {
    grid-column: 2/3;
    grid-row: 4/7;
}
#content main .products-orders .products .box-product .samsung {
    grid-column: 4/7;
    grid-row: 2/3;
}
#content main .products-orders .products .box-product .general {
    grid-column: 4/7;
    grid-row: 4/7;
}
#content main .products-orders .products .box-product .xiaomi {
    grid-column: 4/7;
    grid-row: 8/9;
}
#content main .products-orders .products .box-product .bphone {
    grid-column: 8/9;
    grid-row: 4/7;
}

/* #content main .products .box-product {
    margin: 24px;
    display: grid;
    // grid-template-columns: repeat(auto-fit, min-max(200px, 1fr)); 
    grid-template-columns: 240px repeat(4, 1fr);
    grid-gap: 24px;
}   
#content main .customer .box-product {
    margin: 24px;
    display: grid;
    grid-template-columns: 240px 1fr 1fr;
    grid-gap: 24px;
} */

#content main .box-product  li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}
#content main .box-product li .text {
    text-align: center;
    align-items: center;
}
#content main .box-product li .text h2 {
    color: var(--blue)
}
#content main .box-product li .icon {
    padding: 12px;
    width: 60px;
    height: 60px;   
    border-radius: 10px;
    background: var(--grey);
    align-items: center;
}
/* #content main .box-product li:nth-child(1) .product__icon { */
    /* background: var(--light-blue); */
    /* color: var(--blue) */
/* } */

/* END MAIN */


/* END CONTENT */




/* ___________ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
body {
    background: var(--grey);
}

/* SIDEBAR */
#sidebar {
    width: 250px;
    height: 100vh;
    background: var(--light);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;       /* Display on all elements */

    transition: 0.3 ease;
    overflow-x: hidden;
}
/* THU NHO SIDEBAR */
#sidebar.hide {
    width: 70px;
}

/* #sidebar .brand {
    font-size: 25px;
    font-weight: 700;
    height: 55px;
    display: flex;
    align-items: center;
} */

#sidebar .brand img{
    width: 250px;
    height: 55px;
    display: flex;
    align-items: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}
#sidebar .side-menu li {
    height: 48px;
    background-color: transparent;
    padding: 4px;
    margin-left: 8px;
    border-radius: 48px 0 0 48px;
}
#sidebar .side-menu li.item--active {
    background: var(--grey);
    position: relative;
}
#sidebar .side-menu li.item--active a{
    color: var(--blue);
    background: var(--light-blue);
}

/* Set phần bo góc trên cho item-active */
#sidebar .side-menu li.item--active::before {
    content: "";    /*Required*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    /* background: var(--blue); */
    z-index: -1;
}
/* Set phần bo góc dưới cho item-active */
#sidebar .side-menu li.item--active::after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    /* background: var(--blue); */
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    /* padding-left: 8px; */
    border-radius: 48px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    font-size: 18px;
    color: var(--dark);

    white-space: nowrap;
    overflow-x: hidden;
}
#sidebar .side-menu li a:hover {
    color: var(--blue);
    /* cursor: pointer; */
}
#sidebar .side-menu li a .side-menu__icon {
    /* Calc: for padding (4px) and margin-left  */
    min-width: calc(60px - ((4px + 6px + 8px) * 2));   
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}
/* END SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 250px);
    left: 250px;

    transition: 0.3s ease;
}
#sidebar.hide ~ #content {
    width: calc(100% - 70px);
    left: 70px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    font-size: 25px;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-gap: 24px;
}
#content nav #hidden-sidebar-btn:hover {
    cursor: pointer;
    /* background: var(--blue); */
}
#content nav #site-name {
    /* position: absolute; */
    /* width: 60%; */
    min-width: fit-content;
    height: 80%;
    /* margin-left: 24px; */
    color: var(--grey);
    border-radius: 10px;
    background: var(--blue);

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;    
}
#content nav #logout {  
    width: 10%;
    min-width: fit-content;
    height: 80%;
    /* padding: 0 24px; */
    border-radius: 10px;
    background: var(--red);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   
#content nav #logout:hover {
    cursor: pointer;
}
#content nav #logout img {
    height: 24px;
}
/* END NAVBAR */

/* MAIN */
#content main .products-orders{
    width: 100%;
    height: 30vh;
}
#content main .products-orders .products {
    width: 50%;
}
/* Chia div products và order ra làm 2 nửa 50% */
/* #content main {
    width: 50%;
    display: flex;
    float: left;
} */
/* #content main .products, 
#content main .order {
    width: 48%; 
    padding: 16px;
    border-radius: 10px;
} */
#content main .products .box-product {
    display: grid;
    grid-template-columns: 64px 2fr 64px;
    grid-template-rows: 64px 2fr 64px;
    /* grid-template-areas: 
        "apple  samsung  bphone"
        "apple  general  bphone"
        "apple  xiaomi   bphone"
    ; */
    
}
#content main .products .box-product .apple {
    grid-column: 1/2;
    grid-row: 2/3;
}
#content main .products .box-product .samsung {
    grid-column: 2/3;
    grid-row: 1/2;
}
#content main .products .box-product .general {
    grid-column: 2/3;
    grid-row: 2/3;
}
#content main .products .box-product .xiaomi {
    grid-column: 2/3;
    grid-row: 3/4;
}
#content main .products .box-product .bphone {
    grid-column: 3/4;
    grid-row: 2/3;
}

/* #content main .products .box-product {
    margin: 24px;
    display: grid;
    // grid-template-columns: repeat(auto-fit, min-max(200px, 1fr)); 
    grid-template-columns: 240px repeat(4, 1fr);
    grid-gap: 24px;
}   
#content main .customer .box-product {
    margin: 24px;
    display: grid;
    grid-template-columns: 240px 1fr 1fr;
    grid-gap: 24px;
} */

#content main .box-product  li {
    margin: 8px;
    background: var(--light);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
}
#content main .box-product li .text {
    text-align: center;
    align-items: center;
}
#content main .box-product li .text h2 {
    color: var(--blue)
}
#content main .box-product li .icon {
    /* padding: 12px; */
    /* background: var(--grey); */
    width: 36px;
    height: 36px;   
    border-radius: 8px;
    align-items: center;
}
#content main .box-product  li.general{
    background: var(--light-blue);
}
/* #content main .box-product li:nth-child(1) .product__icon { */
    /* background: var(--light-blue); */
    /* color: var(--blue) */
/* } */

/* END MAIN */


/* END CONTENT */

