*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY LAYOUT - GRID */
body {
    display: grid;
    grid-template-columns: 1fr 9fr ;
    grid-template-rows: 1fr 12fr;
    height: 100vh;
}
.main-header{
    background-color: #000aff;
}
.main-content {
    background-color: aqua;
}
/* NAVIGATION */
.nav-bar{
    /* width: 300px; */
    height: 100vh;
    background-color: #f5f7fa;
    border-right: 1px solid #ccddee;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
.nav__menu {
    list-style-type: none;
    width: 200px;
    padding-top: 50px;
}
.nav__item{
   padding: 15px;
   margin: 10px;
   /* background-color: #e0f7fa; */
   border-radius: 10px;
   text-align: center;
   align-items: center;
   color: #34495e;
   cursor: pointer;
   transition: background-color 0.3s ease;

   display: flex;
   align-items: center;

}
.nav__item img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    vertical-align: middle;
    filter: contrast(10%) brightness(50%);
}
.nav__item:hover{
    background-color: #d1e7ff;
    color: #007bff;
}
.nav_item:nth-child(1){
    background-color: #000aff;
}
/* .nav_item .active{
    background-color: #007bff !important;
    color: white;
} */
/* .nav__item .active:hover{
    background-color: #007bff;  
} */