* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
:root {
    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
body {
    background: var(--grey);
}
#wrap{
	display: flex;
	flex-wrap: wrap;
}
/* SIDEBAR */
#sidebar {
    width: 250px;
    height: 100vh;
    background: var(--light);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;       /* Display on all elements */

    transition: 0.3 ease;
    overflow-x: hidden;
}
/* THU NHO SIDEBAR */
#sidebar.hide {
    width: 70px;
}

/* #sidebar .brand {
    font-size: 25px;
    font-weight: 700;
    height: 55px;
    display: flex;
    align-items: center;
} */

#sidebar .brand img{
    width: 250px;
    height: 55px;
    display: flex;
    align-items: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}
#sidebar .side-menu li {
    height: 48px;
    background-color: transparent;
    padding: 4px;
    margin-left: 8px;
    border-radius: 48px 0 0 48px;
}
#sidebar .side-menu li.item--active {
    background: var(--grey);
    position: relative;
}
#sidebar .side-menu li.item--active a{
    color: var(--blue);
    background: var(--light-blue);
}

/* Set phần bo góc trên cho item-active */
#sidebar .side-menu li.item--active::before {
    content: "";    /*Required*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    /* background: var(--blue); */
    z-index: -1;
}
/* Set phần bo góc dưới cho item-active */
#sidebar .side-menu li.item--active::after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    /* background: var(--blue); */
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    /* padding-left: 8px; */
    border-radius: 48px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    font-size: 18px;
    color: var(--dark);

    white-space: nowrap;
    overflow-x: hidden;
}
#sidebar .side-menu li a:hover {
    color: var(--blue);
    cursor: pointer;
}
#sidebar .side-menu li a .side-menu__icon {
    /* Calc: for padding (4px) and margin-left  */
    min-width: calc(60px - ((4px + 6px + 8px) * 2));   
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
}
/* END SIDEBAR */

/* CONTENT */
#content {
    height: 100vh;
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    transition: 0.3s ease;
}
/* Khi #sidebar có thuộc tính hide thì áp dụng cho content (width, left,..)  */
#sidebar.hide ~ #content {
    width: calc(100% - 70px);
    left: 70px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    font-size: 25px;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-gap: 24px;
}
#content nav #hidden-sidebar-btn:hover {
    cursor: pointer;
    /* background: var(--blue); */
}
#content nav #site-name {
    /* position: absolute; */
    /* width: 60%; */
    min-width: fit-content;
    height: 80%;
    /* margin-left: 24px; */
    color: var(--grey);
    border-radius: 10px;
    background: var(--blue);

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;    
}
#content nav #logout {  
    width: 10%;
    min-width: fit-content;
    height: 80%;
    /* padding: 0 24px; */
    border-radius: 10px;
    background: var(--red);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   
#content nav #logout:hover {
    cursor: pointer;
}
#content nav #logout img {
    height: 24px;
}
/* END NAVBAR */

/* MAIN */
/* MAIN__DASHBOARD */
#content main {
    width: 100%;
    /* 56px: navbar */
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
}
#content main .box-product,
#content main .box-order{
    height: 30%;
    /* height: auto; */
    margin: 24px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, min-max(200px, 1fr)); */
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-gap: 12px;
}   

#content main .products-orders li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px; 
}
#content main .products-orders li .text {
    white-space: nowrap;
}
#content main .products-orders li .text h2 {
    text-align: center;
    color: var(--blue)
}
#content main .products-orders li .icon ,
#content main .customers li .icon{
    padding: 12px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: var(--grey);
    align-items: center;
}
#content main .products-orders .box-product .general {
    background: var(--light-blue);
}
#content main .products-orders .box-order .general {
    background-color:antiquewhite;
}

/* CUSTOMER */
#content main .customers {
    display: flex;
    /* Customer chiếm toàn bộ height còn lại của main */
    flex-grow: 1;
    margin-bottom: 24px;
}

#content main .customers .customer__chart--name{
    position: absolute;
    padding: 0 24px;
    border-radius: 12px;

    display: flex;
    /* Căn giữa chữ so với icon */
    align-items: center;    
    grid-gap: 12px; 
}
#content main .customers .customer__note  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;
}
#content main .customers .customer__note li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px;
}
#content main .customers li .note_icon--click{
    background: var(--light-blue);
}
#content main .customers li .note_icon--purchase{
    background: var(--blue);
}
/* CHART */
#content main .customer__chart {
    width: 70%;
    /* Trừ đi chiều cao của các phần khác */
    /* height: calc(100vh - 56px - 30% - 48px);  */
    /* height: 45vh; */
    /* height:  */
    margin: 0px 24px;
    background: var(--light);
    border-radius: 12px;
    
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
} 
#content main .customer__chart .item {
    width: 72px;
    /* Không hoạt động với calc()..., chỉ hoạt động khi height rõ ràng */
    /* height: var(--counter); */
    /* Chuyển đổi chiều cao thành tỷ lệ phần trăm của view height */
    height: calc(var(--counter) * 1vh); 

    margin: 2px;
    text-align: center; 
    border-radius: 8px;
}
#content main .customer__chart .item--click {
    background: var(--light-blue);
    margin-left: 12px;
}
#content main .customer__chart .item--purchase {
    background: var(--blue);    
    margin-right: 12px;
}
/* END CHART */
/* END CUSTOMER */
/* END MAIN__DASHBOARD */


/* MAIN__PRODUCTS*/
#container {
    width: 100%;
    min-height: calc(100vh - 56px);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grey);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#container #leftsection {
    width: 70%;
    padding: 20px 20px 10px 20px;
}

#container #leftsection #product-list {
    width: 100%;
    min-height: 830px;
    background-color: var(--light);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow-x: auto;
}

#container #leftsection #product-list .product-table {
    width: 100%;
    border-collapse: collapse;
}

#container #leftsection #product-list .product-table th {
    background-color: #ff7f50;
    color: #fff;
    padding: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
}

#container #leftsection #product-list .product-table td {
    background-color: var(--light-blue);
    color: var(--dark);
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--grey);
}

#container #leftsection #product-list .product-table tr:hover {
    background-color: var(--table-hover);
}
/*css cho nút XÓA sản phẩm ở DS SẢN PHẨM và XÓA-clear toàn bộ thông tin nhập ở THÊM SẢN PHẨM*/
#container .delete-btn {
    background-color: #d9534f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*css cho nút sửa sản phẩm ở Danh sách sản phẩm*/
#container #leftsection #product-list .product-table .edit-btn {
    background-color: var(--blue);
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

/*pagination web*/
#container #leftsection #pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#container #leftsection #pagination a {
    color: var(--dark);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid var(--light-blue);
    margin: 0 4px;
    border-radius: 5px;
}
#container #leftsection #pagination a.active {
    background-color: #333;
    color: white;
}
#container #leftsection #pagination a:hover {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
}


#container #rightsection {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#container #rightsection .subsection {
    background-color: var(--light);
    width: 100%;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
/* #container #rightsection. h2 */
#container #rightsection h2 {
    text-align: center;
    background-color: #d3d3d3;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}
#container #rightsection .subsection form{
    width: calc(100% - 50px);
    margin: 0 auto;
}
#container #rightsection .subsection label {
    font-size: 14pt;
    margin-bottom: 5px;
    /* display: block; xem xét lại sau có nên giữ hay không*/
    cursor: pointer;
}

/* css phần lựa chọn thương hiệu */
#container #rightsection .subsection select {
    height: 35px;
	width: 173px;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    border-bottom: 2px solid var(--dark);
}

#container #rightsection .subsection input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

/* Khi nhấn vào sẽ hiện lên viền xanh ở ô nhập */
#content #rightsection .subsection input:focus{
	outline: none;
	border: 2px solid var(--blue)
}
.image-upload-container__info{
    width: calc(100% - 90px);
    margin: 0px 10px;
}

.image-upload {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.image-upload-container {
    width: 100%;
    display: flex;
    align-items: center;
    
}

.product-image-container {
    width: 70px; /* Chiều rộng cố định */
    height: 70px; /* Chiều cao cố định */
    overflow: hidden; /* Ẩn phần ảnh vượt quá khung */
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; /* Tùy chọn: để hiển thị khung */
    border-radius: 5px; /* Tùy chọn: bo tròn góc khung */
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh lấp đầy khung mà không bị méo */
    border-radius: 5px; /* Tùy chọn: bo tròn góc ảnh */
}


/* Nút thêm sản phẩm (có thể đem đi nơi khác sử dụng) */
#container .add-btn{
    background-color: var(--blue);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* POP-UP SỬA SẢN PHẨM */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal1 #changeproduct {
    width: 600px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    display: flex;/*  có thể xóa */
    flex-direction: column;/*  có thể xóa */
    align-items: center;
    background-color: #fff;
    animation: topdown 0.5s;
}

#modal1 #changeproduct .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    background: none;
    outline: none;
    cursor: pointer;
    transform: rotate(45deg);
}
#modal1 #changeproduct .close:hover{
    color: #EE0000;
}
#modal1 #changeproduct .image {
    display: flex;
	align-items: flex-start;
	justify-content: space-around;
    margin-top: 50px;
}

#modal1 #changeproduct .image img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border:  1px solid #000;
    padding: 20px;
    margin: 0px 20px;
}

#modal1 #changeproduct .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#modal1 #changeproduct .info label {
    font-weight: bold;
    margin-top: 10px;
}

#modal1 #changeproduct .info input[type="text"],
#modal1 #changeproduct .info input[type="file"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

#modal1 #changeproduct #save {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

/* END POP-UP SỬA SẢN PHẨM */
/* END MAIN__PRODUCTS*/


/* MAIN__CUSTOMERS*/

/* END MAIN__CUSTOMERS*/


/* MAIN__ORDERS*/

/* END MAIN__ORDERS*/


/* MAIN__STATISTICS*/

/* END MAIN__STATISTICS*/


/* END MAIN */
/* END CONTENT */

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
@keyframes topdown{
	0% {transform: translateY(-800px)}
	100% {transform: translateY(0)}
}
/* Thêm transition cho các phần tử cần thay đổi kích thước */
@media only screen and (min-width: 901px) and (max-width: 1060px) {
    #container #leftsection{
		width: 100%;
	}
	#container #rightsection{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#container #rightsection .subsection{
		width: 48%;
		padding: 10px;
	
	}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* #nav #btnmenu{
		display: block;
	} */
	#content {
        width: calc(100% - 70px);
        left: 70px;
    }
    #container #leftsection{
		width: 100%;
		padding: 40px 20px 0px;
	}
	#container #leftsection #product-list{
		padding: 20px;
	}
	#container #rightsection{
		width: 100%;
		flex-wrap: wrap;
		padding: 40px 20px 0px;
	}
	#container #rightsection .subsection{
		width: 100%;
		padding: 10px;
	}
}
@media only screen  and (min-width: 0px) and (max-width: 600px) {
	/* #nav #btnmenu{
		display: block;
	} */
	#content {
        width: calc(100% - 70px);
        left: 70px;
    }
    #container #leftsection{
		width: 100%;
		padding: 10px 0px;
	}
	#container #leftsection #product-list{
		padding: 0px;
		box-shadow: none;
	}
	#container #rightsection{
		width: 100%;
		flex-wrap: wrap;
		padding: 10px 0px;
	}
	#container #rightsection .subsection{
		width: 100%;
		padding: 10px;
		border: 2px solid var(--blue);
        background-color: var(--grey);
		box-shadow: none;
	}
}